body {
  background-color: black;
}

h1 {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-align-last: center;
  color: #ecd78f;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

th {
  font-family: "Nunito", serif;
  font-size: 1.5em;
  font-weight: 800;
  font-style: normal;
  color: #ecd78f;
  width: 50%;
  border: solid;
  border-color: #ecd78f;
}

h3 {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5%;
}

p {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin: 0.5%;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: #ecd78f;
}

a:active {
  text-decoration: underline;
  color: #ecd78f;
}

img {
  width: 10%;
  height: auto;
}

img.h1 {
  width: 10%;
  height: auto;
}

table, tr {
  border: none;
  width: 100%;
}

td {
  border: 1px solid #1b503f;
  width: 25%;
}

tr:nth-child(even) {
  background-color: #1b503f;
}

